<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLp | LOGIN PAGE</title>
</head>
<body>
    <h1>NLP APP</h1>
    <h3>Register Here</h3>

    {% if message %}
    <p style="color:Red">{{message}}</p>
    {% endif %}

    <form action="/perform_registration" method="post">  
      
        
        <label>Name</label><br>
        <input type="text" name="User_Name" required><br>
        <label>Email</label><br>
        <input type="email" name="User_Email" required><br>
        <label for="password">Password</label><br>
        <input type="password" name="User_password" required><br><br>
        <input type="submit" value="Register"><br>
    </form>
    <p>Already a Member? <a href="http://127.0.0.1:5000/">Login Here</a></p>
    
</body>
</html>